@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  height: 546px;
  width: 466px;
}

.spinner .slots {
  width: 280px;
  height: 250px;
  top: 220px;
  transform: translateX(-50%);
}

.spinner .slots .items {
  left: -220px;
  height: inherit;
  outline: none;
}

.spinner .slots .items li {
  list-style: none;
  width: fit-content;
  width: 200px;
  margin: 0 20px;
  flex-shrink: 0;
}

.spinner .slots .items img {
  width: 200px;
  height: 200px;
}

.spinner button {
  transform: translateX(-50%);
}
