@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  height: 546px;
  width: 466px;
}

.spinner .slots {
  width: 280px;
  height: 250px;
  top: 220px;
  transform: translateX(-50%);
}

.spinner .slots .items {
  left: -220px; /* TODO: The width of the item plus its left padding */
  height: inherit;
  outline: none;
}

.spinner .slots .items li {
  list-style: none;
  width: fit-content;
  width: 200px; /* TODO: The width of the item */
  margin: 0 20px; /* TODO: The padding of the item */
  flex-shrink: 0;
}

.spinner .slots .items img {
  width: 200px; /* TODO: The width of the item */
  height: 200px; /* TODO: The height of the item */
}

.spinner button {
  transform: translateX(-50%);
}

.spinner .win {
  opacity: 1;
  animation: fade-win 2s linear; /* TODO: Set delay for fading in/out the prize */
}

@keyframes fade-win {
  0%,
  33%,
  66%,
  100% {
    opacity: 1;
  }
  16%,
  50%,
  84% {
    opacity: 0;
  }
}
